name: Test and Build

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/build.yml"
      - ".github/workflows/ci.yml"
      - "cmd/**"
      - "internal/**"
      - "go.mod"
      - "go.sum"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml
    permissions:
      contents: read
